.curr_test_outer .test_item_div{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.curr_test_outer .start_div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curr_test_outer button{
    width: 50px;
    height: 50%;
    padding: 7px;
    margin: auto;
    border-radius: 5px;
    margin-right: 10px;
    min-width: fit-content;
}
.test_item_div button{
    margin-left: 0px;
}

.start_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.start_div button{
    margin-left: 10px;
}


.question_div{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

